{% extends 'base.html.twig' %}

{% block title %}Amigos{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header bg-primary">
                    <div class="text-center">
                        {% if user.avatar == null %}
                            {% if user.dadosPessoais.sexo == 'Masculino' %}
                                <img class="img-fluid img-thumbnail rounded-circle"
                                     src="{{ asset('imagens/perfil/avatar_homem.png') }}"
                                     alt="Perfil"
                                     width="100">
                            {% else %}
                                <img class="img-fluid img-thumbnail rounded-circle"
                                     src="{{ asset('imagens/perfil/avatar_mulher.png') }}"
                                     alt="Perfil"
                                     width="100">
                            {% endif %}
                        {% else %}
                            <img class="img-fluid img-thumbnail rounded-circle"
                                 src="{{ asset('imagens/perfil/' ~ user.avatar) }}"
                                 alt="Perfil"
                                 width="100">
                        {% endif %}
                    </div>
                    <h3 class="text-center">
                        {{ user.dadosPessoais.nome }} {{ user.dadosPessoais.sobrenome }}
                    </h3>
                    <h5 class="text-center small">
                        {% if user.localizacao and
                            user.localizacao.bairro and
                            user.localizacao.cidade and
                            user.localizacao.estado and
                            user.localizacao.pais is not null %}
                            {{ user.localizacao.bairro }}, {{ user.localizacao.estado }} - {{ user.localizacao.pais }}
                        {% else %}
                            <a href="#" class="btn btn-light btn-sm">
                                <i class="fas fa-map-marker-alt"></i> Localização não informada
                            </a>
                        {% endif %}
                    </h5>
                </div>
                <div class="card-body">
                    {% if solicitacao != null and solicitacao.status == 2 and solicitacao.tipo == 'Amizade' %}
                        <button class="btn btn-tool dropdown float-right mt-sm-0 ml-2"
                                type="button"
                                data-toggle="dropdown">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{{ path('desfaz_amizade', {'id': user.id }) }}">
                             <span class="text-dark">
                                Desfazer amizade
                             </span>
                            </a>
                            <a class="dropdown-item" href="{{ path('bloqueio', {'id': user.id }) }}">
                             <span class="text-danger">
                                Bloquear usuário
                             </span>
                            </a>
                        </div>
                    {% endif %}
                    <button type="button" class="btn btn-light btn-sm float-right ml-2" data-toggle="modal"
                            data-target="#exampleModal" data-whatever="@mdo">
                        Deixar recado
                    </button>

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header bg-primary">
                                    <h5 class="modal-title" id="exampleModalLabel">Mensagem</h5>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        Para: {{ user.dadosPessoais.nome }}
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Recado:</label>
                                            <textarea class="form-control" id="message-text"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar
                                    </button>
                                    <button type="button" class="btn btn-primary">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if seguidor is null %}
                        <a href="{{ path('seguir_usuario', {'id': user.id }) }}"
                           class="btn-seguir btn btn-light btn-sm"><i
                                    class="fas fa-rss"></i> Seguir</a>
                    {% else %}
                        <a href="{{ path('deseguir_usuario', {'id': user.id }) }}"
                           class="btn-seguir btn btn-info btn-sm"><i
                                    class="fas fa-rss"></i> Seguindo</a>
                    {% endif %}
                    <div class="btn-group float-right" role="group" aria-label="Basic example">
                        {% if solicitacao is null %}
                            <a href="{{ path('solicita_amizade', {'id': user.id }) }}" class="btn btn-light btn-sm"><i
                                        class="fa fa-user-plus"></i> Enviar solicitação</a>
                        {% elseif solicitacao.status == 1 and solicitacao.tipo == 'Amizade' and solicitacaoRecebida == false %}
                            <a href="#" class="btn btn-light btn-sm badge-success"><i class="fa fa-check"></i>
                                Solicitação enviada</a>
                        {% elseif solicitacao.status == 1 and solicitacao.tipo == 'Amizade' and solicitacaoRecebida == true %}
                            <a href="{{ path('aceita_solicitacao', {'id': solicitacao.id}) }}"
                               class="btn btn-primary btn-sm">Aceitar Solicitacao</a>
                            <a href="{{ path('deleta_solicitacao', {'id': solicitacao.id}) }}"
                               class="btn btn-danger btn-sm">Excluir</a>
                        {% elseif solicitacao.status == 2 and solicitacao.tipo == 'Amizade' %}
                            <a href="#" class="btn btn-light btn-sm"><i class="fa fa-user-friends"></i> Amigo</a>
                        {% endif %}
                    </div>
                </div>
                <div class="card-footer">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active"
                               id="pills-sobre-tab"
                               data-toggle="pill"
                               href="#pills-sobre"
                               role="tab"
                               aria-controls="pills-sobre"
                               aria-selected="true">
                                Sobre
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link"
                               id="pills-localizacao-tab"
                               data-toggle="pill"
                               href="#pills-localizacao"
                               role="tab"
                               aria-controls="pills-localizacao"
                               aria-selected="false">
                                Localização
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link"
                               id="pills-foto-tab"
                               data-toggle="pill"
                               href="#pills-foto"
                               role="tab"
                               aria-controls="pills-foto"
                               aria-selected="false">
                                Fotos
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link"
                               id="pills-seguidores-tab"
                               data-toggle="pill"
                               href="#pills-seguidores"
                               role="tab"
                               aria-controls="pills-seguidores"
                               aria-selected="false">
                                Seguidores
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-sobre" role="tabpanel"
                                     aria-labelledby="pills-sobre-tab">
                                    <h3 class="card-title">
                                        Informações básicas
                                    </h3>
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Nome</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control"
                                                       value="{{ user.dadosPessoais.nome }} {{ user.dadosPessoais.sobrenome }}"
                                                       disabled>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Data nascimento</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control"
                                                       value="{{ user.dadosPessoais.dataNascimento|date('d-m-Y') }}"
                                                       disabled>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Sexo</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control"
                                                       value="{{ user.dadosPessoais.sexo }}" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-localizacao" role="tabpanel"
                                     aria-labelledby="pills-localizacao-tab">
                                    <h3 class="card-title">
                                        Localização
                                    </h3>
                                    <div class="card-body">
                                        {% if user.localizacao == null %}
                                            <div class="alert alert-danger" role="alert">
                                                Localização não informada
                                            </div>
                                        {% else %}
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Bairro</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           value="{{ user.localizacao.bairro }}" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Cidade</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           value="{{ user.localizacao.cidade }}" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Estado</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           value="{{ user.localizacao.estado }}" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">País</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control"
                                                           value="{{ user.localizacao.pais }}" disabled>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-foto" role="tabpanel"
                                     aria-labelledby="pills-foto-tab">
                                    <h3 class="card-title">
                                        Fotos
                                    </h3>
                                    <div class="card-body">
                                        {% for foto in fotos %}
                                            {% for foto_publica in foto.fotos %}
                                                <img src="{{ asset('imagens/album/' ~ foto_publica.foto) }}"
                                                     class="img-thumbnail cropped mb-2 mr-2"
                                                     width="100"
                                                >
                                            {% endfor %}
                                        {% else %}
                                            <div class="alert alert-primary" role="alert">
                                                Nenhuma foto publicada
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-seguidores" role="tabpanel"
                                     aria-labelledby="pills-seguidores-tab">
                                    <h5 class="card-title">
                                        Seguidores ({{ segueUser|length }})
                                    </h5>
                                    <div class="card-body table-responsive p-0">
                                        <table class="table">
                                            <tbody>
                                            {% for s in segueUser %}
                                                <tr>
                                                    <td>
                                                        {% if s.usuarioSeguidor.avatar == null %}
                                                            {% if s.usuarioSeguidor.dadosPessoais.sexo == 'Masculino' %}
                                                                <img class="img-fluid img-thumbnail rounded-circle float-left mr-2"
                                                                     src="{{ asset('imagens/perfil/avatar_homem.png') }}"
                                                                     alt="Perfil"
                                                                     width="50">
                                                            {% else %}
                                                                <img class="img-fluid img-thumbnail rounded-circle float-left mr-2"
                                                                     src="{{ asset('imagens/perfil/avatar_mulher.png') }}"
                                                                     alt="Perfil"
                                                                     width="50">
                                                            {% endif %}
                                                        {% else %}
                                                            <img class="img-fluid img-thumbnail rounded-circle float-left mr-2"
                                                                 src="{{ asset('imagens/perfil/' ~ s.usuarioSeguidor.avatar) }}"
                                                                 alt="Perfil"
                                                                 width="50">
                                                        {% endif %}
                                                        <a class="card-link"
                                                           href="{{ path('amigos_perfil', {'id': s.usuarioSeguidor.id}) }}">
                                                            {{ s.usuarioSeguidor.dadosPessoais.nome }} {{ s.usuarioSeguidor.dadosPessoais.sobrenome }}
                                                            <br>
                                                        </a>
                                                        <span class="small text-muted">
                                        <i class="fas fa-shield-alt text-secondary"></i>
                                        {{ s.usuarioSeguidor.dataCadastro|date('Y') }}
                                    </span>
                                                    </td>
                                                </tr>
                                            {% else %}
                                                <div class="alert alert-primary mt-4 mx-3" role="alert">
                                                    Nenhum usuário encontrado
                                                </div>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <hr>
                                    <h5 class="card-title">
                                        Seguindo ({{ seguidoresUser|length }})
                                    </h5>
                                    <div class="card-body table-responsive p-0">
                                        <table class="table">
                                            <tbody>
                                            {% for s in seguidoresUser %}
                                                <tr>
                                                    <td>
                                                        {% if s.usuarioSeguido.avatar == null %}
                                                            {% if s.usuarioSeguido.dadosPessoais.sexo == 'Masculino' %}
                                                                <img class="img-fluid img-thumbnail rounded-circle float-left mr-2"
                                                                     src="{{ asset('imagens/perfil/avatar_homem.png') }}"
                                                                     alt="Perfil"
                                                                     width="50">
                                                            {% else %}
                                                                <img class="img-fluid img-thumbnail rounded-circle float-left mr-2"
                                                                     src="{{ asset('imagens/perfil/avatar_mulher.png') }}"
                                                                     alt="Perfil"
                                                                     width="50">
                                                            {% endif %}
                                                        {% else %}
                                                            <img class="img-fluid img-thumbnail rounded-circle float-left mr-2"
                                                                 src="{{ asset('imagens/perfil/' ~ s.usuarioSeguido.avatar) }}"
                                                                 alt="Perfil"
                                                                 width="50">
                                                        {% endif %}
                                                        <a class="card-link"
                                                           href="{{ path('amigos_perfil', {'id': s.usuarioSeguido.id}) }}">
                                                            {{ s.usuarioSeguido.dadosPessoais.nome }} {{ s.usuarioSeguido.dadosPessoais.sobrenome }}
                                                            <br>
                                                        </a>
                                                        <span class="small text-muted">
                                        <i class="fas fa-shield-alt text-secondary"></i>
                                        {{ s.usuarioSeguido.dataCadastro|date('Y') }}
                                    </span>
                                                    </td>
                                                </tr>
                                            {% else %}
                                                <div class="alert alert-primary mt-4 mx-3" role="alert">
                                                    Nenhum usuário encontrado
                                                </div>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
        $(document).ready(function () {
            $(".btn-seguir").click(function (ev) {
                ev.preventDefault();
                var $this = $(this);
                var url = $(this).prop("href");
                $.get(url, function (response) {
                    location.reload();
                }, 'json');
            });

        });
    </script>
{% endblock %}