{% extends 'base.html.twig' %}

{% block title %}Lista de usuários bloqueados{% endblock %}

{% block body %}
    <div class="row d-sm-none d-block">
        <div class="col-sm-12">
            <div class="mb-3">
                <a href="{{ path('meus_amigos') }}" class="btn btn-secondary btn-rounded btn-sm">
                    Meus amigos
                </a>
                <a href="{{ path('amigos') }}" class="btn btn-secondary btn-rounded btn-sm">
                    Encontrar amigos
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h5 class="card-title">
                <span class="text-primary">
                    Usuários bloqueados
                </span>
            </h5>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="card">
                <div class="card-body table-responsive p-0">
                    <table class="table">
                        <tbody>
                        {% for bloqueio in usuariosBloqueados %}
                            <tr>
                                <td>
                                    {% if bloqueio.usuarioBloqueado.avatar == null %}
                                        {% if bloqueio.usuarioBloqueado.dadosPessoais.sexo == 'Masculino' %}
                                            <img class="img-fluid img-thumbnail rounded-circle float-left mr-2"
                                                 src="{{ asset('imagens/perfil/avatar_homem.png') }}"
                                                 alt="Perfil"
                                                 width="50">
                                        {% else %}
                                            <img class="img-fluid img-thumbnail rounded-circle float-left mr-2"
                                                 src="{{ asset('imagens/perfil/avatar_mulher.png') }}"
                                                 alt="Perfil"
                                                 width="50">
                                        {% endif %}
                                    {% else %}
                                        <img class="img-fluid img-thumbnail rounded-circle float-left mr-2"
                                             src="{{ asset('imagens/perfil/' ~ bloqueio.usuarioBloqueado.avatar) }}"
                                             alt="Perfil"
                                             width="50">
                                    {% endif %}
                                    <span class="small text-muted">
                                        {{ bloqueio.usuarioBloqueado.dadosPessoais.nome }} {{ bloqueio.usuarioBloqueado.dadosPessoais.sobrenome }}<br>
                                    </span>
                                    <span class="small text-muted">
                                        <i class="fas fa-shield-alt text-secondary"></i>
                                        {{ bloqueio.usuarioBloqueado.dataCadastro|date('Y') }}
                                    </span>
                                </td>
                                <td style="width: 28%;">
                                    <div class="dropdown mt-2 float-right">
                                        <button class="btn btn-tool"
                                                type="button"
                                                data-toggle="dropdown">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="{{ path('desbloqueia_usuario', {'id': bloqueio.id}) }}">
                                                <span class="text-muted">
                                                    Desfazer bloqueio
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <div class="alert alert-primary mt-4 mx-3" role="alert">
                                Nenhum usuário encontrado
                            </div>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {#                <div class="my-3 mx-3">#}
                {#                    <span class="text-muted mr-2">Total de {{ user.getTotalItemCount }} registros</span>#}
                {#                    <div class="btn-group float-right">#}
                {#                        {{ knp_pagination_render(user) }}#}
                {#                    </div>#}
                {#                </div>#}
            </div>
        </div>
        <div class="col-sm-4 d-xl-block d-none">
            <div class="list-group">
                <a href="{{ path('meus_amigos') }}"
                   class="list-group-item list-group-item-action {% if app.request.attributes.get('_route') == 'meus_amigos' %} active {% endif %}">
                    <i fla class="fa fa-users"></i> Meus amigos
                    <span class="badge badge-light badge-pill float-right">{{ app.user.totalAmigos }}</span>
                </a>
                <a href="{{ path('amigos') }}"
                   class="list-group-item list-group-item-action {% if app.request.attributes.get('_route') == 'amigos' %} active {% endif %}">
                    <i fla class="fa fa-search"></i> Encontrar amigos
                </a>
                <a href="#"
                   class="list-group-item list-group-item-action {% if app.request.attributes.get('_route') == 'bloqueios' %} active {% endif %}">
                    <i fla class="fa fa-ban"></i> Bloqueios
                </a>
            </div>
        </div>
    </div>
{% endblock %}

