{% extends 'base.html.twig' %}

{% block title %}Início{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('emoji/css/emojionearea.css') }}">
{% endblock %}

{% block body %}
    <div class="row mb-3">
        <div class="col-md-8">
            <div class="card card-outline card-primary mb-3">
                <a href="#" class="sombra-1 card-link" data-toggle="modal" data-target="#post">
                    <div class="card-body">
                        {% if app.user.avatar == null %}
                            {% if app.user.dadosPessoais.sexo == 'Masculino' %}
                                <img class="rounded-circle img-borda-sm img-size-50"
                                     src="{{ asset('imagens/perfil/avatar_homem.png') }}"
                                     alt="Perfil">
                            {% else %}
                                <img class="rounded-circle img-borda-sm img-size-50"
                                     src="{{ asset('imagens/perfil/avatar_mulher.png') }}"
                                     alt="Perfil">
                            {% endif %}
                        {% else %}
                            <img class="rounded-circle img-borda-sm img-size-50"
                                 src="{{ asset('imagens/perfil/' ~ app.user.avatar) }}"
                                 alt="Perfil">
                        {% endif %}
                        <!-- Postagem modal -->
                        <span>
                            O que vamos publicar hoje?
                        </span>
                    </div>
                </a>
            </div>

            <!-- Início Postagem Modal -->
            <div class="modal fade" id="post" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h5 class="modal-title" id="exampleModalLabel">Postagem</h5>
                        </div>
                        {{ form_start(form) }}
                        <div class="modal-body">
                            <div class="form-group">
                                {{ form_widget(form.conteudo) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.imageFile) }}
                                {{ form_widget(form.imageFile, {'attr': {'class': 'custom-file-input'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.privacidade) }}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Postar</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <!-- Fim Postagem Modal -->

            <!-- Início Post -->
            {% for postagem in post %}
                <!-- TODO: Início Edit Postagem Modal -->
                <div class="modal fade" id="post{{ postagem.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h5 class="modal-title" id="exampleModalLabel">Postagem</h5>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <form method="post" action="{{ path('edita_postagem', {'id' : postagem.id}) }}">
                                        <div class="form-group required">
                                            <textarea class="float-right post_postagem float-right form-control"
                                                      placeholder="Edite o conteúdo da postagem" name="postagemConteudo"
                                                      required="required" rows="5" maxlength="200">{{ postagem.conteudo }}</textarea>

                                            <button type="submit" class="btn btn-success btn-sm mt-2">
                                                Enviar
                                            </button>
                                            <input type="hidden"
                                                   id="postagemId"
                                                   name="postagemId"
                                                   value="{{ postagem.id }}">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fim Postagem Modal -->
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="post">
                            <!-- Início Div usuário -->
                            <div class="user-block">
                                {% if postagem.autor.avatar == null %}
                                    {% if postagem.autor.dadosPessoais.sexo == 'Masculino' %}
                                        <img class="rounded-circle img-borda-sm"
                                             src="{{ asset('imagens/perfil/avatar_homem.png') }}"
                                             alt="Perfil" width="32">
                                    {% else %}
                                        <img class="rounded-circle img-borda-sm"
                                             src="{{ asset('imagens/perfil/avatar_mulher.png') }}"
                                             alt="Perfil" width="32">
                                    {% endif %}
                                {% else %}
                                    <img class="rounded-circle img-borda-sm"
                                         src="{{ asset('imagens/perfil/' ~ postagem.autor.avatar) }}"
                                         alt="Perfil" width="32">
                                {% endif %}
                                <span class="username">
                                    <div class="dropdown float-right">
                                        <button class="btn btn-tool"
                                                type="button"
                                                id="dropdownMenuButton"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            {% if postagem.autor.id == app.user.id %}
                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#post{{ postagem.id }}">
                                                    <span class="text-muted">
                                                        <i class="fa fa-edit mr-3"></i>Editar
                                                    </span>
                                                </a>
                                                <a class="dropdown-item" href="{{ path('deleta_postagem', { 'id' : postagem.id }) }}">
                                                    <span class="text-danger">
                                                    <i class="fa fa-trash mr-3"></i> Deletar
                                                    </span>
                                                </a>
                                            {% else %}
                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#denunciar">
                                                <span class="text-muted">
                                                    <i class="fas fa-flag text-danger mr-2"></i> Denunciar
                                                </span>
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <a href="{{ path('amigos_perfil', {'id': postagem.autor.id}) }}" class="card-link">
                                        {{ postagem.autor.dadosPessoais.nome }} {{ postagem.autor.dadosPessoais.sobrenome }}
                                    </a>
                                </span>
                                <span class="description">
                                    {% if postagem.privacidade == 'Público' %}
                                        <i class="fas fa-globe-americas"></i> Público -
                                    {% else %}
                                        <i class="fa fa-users"></i> Amigos -
                                    {% endif %}
                                    {{ postagem.dataCadastro|ago }}
                                </span>
                            </div>
                            <!-- Fim Div usuário -->
                            <p class="card-text">
                                {{ postagem.conteudo }}
                            </p>
                            {% if postagem.imagem is not null %}
                                <div class="img-container mb-3">
                                    <img class="img-fluid m-lg-0" src="{{ asset('imagens/post/' ~ postagem.imagem) }}">
                                </div>
                            {% endif %}
                            <p>
                                <!-- TODO Curtidas -->
                                {% if postagem.postagemJaFoiCurturaPorMim(app.user) == false %}
                                    <a href="{{ path('descurte_postagem', {'id' : postagem.id}) }}"
                                       class="btn btn-light btn-sm">
                                        <i class="far fa-thumbs-up"></i> <span
                                                class="badge badge-light">{{ postagem.getTotalCurtidas }}</span>
                                    </a>
                                {% else %}
                                    <a href="{{ path('curte_postagem', {'id' : postagem.id}) }}"
                                       class="btn btn-light btn-sm">
                                        <i class="far fa-thumbs-up"></i> <span
                                                class="badge badge-light">{{ postagem.getTotalCurtidas }}</span>
                                    </a>

                                {% endif %}
                                <button type="button" class="btn btn-light btn-sm" data-toggle="modal"
                                        data-target="#staticBackdrop_{{ postagem.id }}">
                                    <i class="far fa-comments mr-1"></i> Comentários <span
                                            class="badge badge-light">{{ postagem.getTotalComentarios }}</span>
                                </button>
                            </p>
                            <!-- Início Comentários 1 -->
                            <!-- TODO -->
                            {% if postagem.postComentarios is not empty %}
                                <span class="h7 text-muted">Últimos comentários</span>
                            {% endif %}
                            {% for comentarios in postagem.postComentarios|reverse|sort((a, b) => b.dataComentario <=> a.dataComentario) %}
                                {% if loop.index <= 2 %}
                                    <div class="card-comments">
                                        <div class="commentBox">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <div>
                                                        {% if comentarios.user.avatar == null %}
                                                            {% if comentarios.user.dadosPessoais.sexo == 'Masculino' %}
                                                                <img class="rounded-circle img-borda-sm"
                                                                     src="{{ asset('imagens/perfil/avatar_homem.png') }}"
                                                                     alt="Perfil" width="50">
                                                            {% else %}
                                                                <img class="rounded-circle img-borda-sm"
                                                                     src="{{ asset('imagens/perfil/avatar_mulher.png') }}"
                                                                     alt="Perfil" width="50">
                                                            {% endif %}
                                                        {% else %}
                                                            <img class="rounded-circle img-borda-sm"
                                                                 src="{{ asset('imagens/perfil/' ~ comentarios.user.avatar) }}"
                                                                 alt="Perfil" width="50">
                                                        {% endif %}
                                                    </div>
                                                    <div class="profileText">
                                                        <a href="{{ path('amigos_perfil', {'id': comentarios.user.id}) }}"
                                                           class="card-link">
                                                            {{ comentarios.user.dadosPessoais.nome }} {{ comentarios.user.dadosPessoais.sobrenome }}
                                                        </a>
                                                        <div class="badge badge-pill badge-primary text-white small float-right">
                                                            {{ comentarios.dataComentario|ago }}
                                                        </div>
                                                        <br>
                                                        {{ comentarios.comentario|length < 110 ? comentarios.comentario : comentarios.comentario|slice(0, 110) ~ '...' }}
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <!-- Fim Comentários 1 -->

                            <!-- Início Modal de Comentários -->
                            <div class="modal fade" id="staticBackdrop_{{ postagem.id }}" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Comentários</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Início Comentários -->
                                            <!-- TODO -->
                                            {% for comentarios in postagem.postComentarios %}
                                                <div class="commentBox">
                                                    <ul class="list-unstyled">
                                                        <li>
                                                            <div>
                                                                {% if comentarios.user.avatar == null %}
                                                                    {% if comentarios.user.dadosPessoais.sexo == 'Masculino' %}
                                                                        <img class="rounded-circle img-borda-sm"
                                                                             src="{{ asset('imagens/perfil/avatar_homem.png') }}"
                                                                             alt="Perfil" width="50">
                                                                    {% else %}
                                                                        <img class="rounded-circle img-borda-sm"
                                                                             src="{{ asset('imagens/perfil/avatar_mulher.png') }}"
                                                                             alt="Perfil" width="50">
                                                                    {% endif %}
                                                                {% else %}
                                                                    <img class="rounded-circle img-borda-sm"
                                                                         src="{{ asset('imagens/perfil/' ~ comentarios.user.avatar) }}"
                                                                         alt="Perfil" width="50">
                                                                {% endif %}
                                                            </div>
                                                            <div class="profileText">
                                                                <a href="{{ path('amigos_perfil', {'id': comentarios.user.id}) }}"
                                                                   class="card-link">
                                                                    {{ comentarios.user.dadosPessoais.nome }} {{ comentarios.user.dadosPessoais.sobrenome }}
                                                                </a>
                                                                <div class="badge badge-pill badge-primary text-white small float-right">
                                                                    {{ comentarios.dataComentario|ago }}
                                                                </div>
                                                                <br>
                                                                {{ comentarios.comentario }}
                                                                {% if comentarios.user.id == app.user.id %}
                                                                <div class="small float-right">
                                                                    <button type="button"
                                                                            class="btn btn-primary btn-rounded btn-sm"
                                                                            data-toggle="modal"
                                                                            data-target="#editComentario{{ comentarios.id }}">
                                                                        <i class="fa fa-edit"></i>
                                                                    </button>
                                                                    <a class="btn btn-danger btn-rounded btn-sm" href="{{ path('deleta_comentario', {'id' : comentarios.id }) }}">
                                                                        <i class="fa fa-trash"></i>
                                                                    </a>
                                                                </div>
                                                                {% endif %}
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!-- Início Modal editar Comentários -->

                                                <div class="modal fade"
                                                     id="editComentario{{ comentarios.id }}"
                                                     tabindex="-1"
                                                     aria-labelledby="editComentarioLabel"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog modal-xl modal-lg">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="editComentarioLabel">Editar Comentário</h5>
                                                                <button type="button"
                                                                        class="close"
                                                                        data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                            <form action="{{ path('edita_comentario', {'id' : comentarios.id}) }}" method="post">

                                                                    <textarea id="name" class="post_comentario float-right form-control" name="comentario"  rows="5" maxlength="200">{{ comentarios.comentario }}</textarea>

                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                                        Cancelar
                                                                    </button>
                                                                    <button type="submit" class="btn btn-primary">
                                                                        Salvar
                                                                    </button>
                                                                </div>
                                                            </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Fim Modal editar Comentários -->

                                            {% else %}
                                                <div class="alert alert-primary" role="alert">
                                                    Nenhum comentário encontrado
                                                </div>
                                            {% endfor %}
                                            <!-- Fim Comentários -->
                                        </div>
                                        <div class="modal-footer">
                                            <div class="card-body">
                                                <form method="post" action="{{ path('cadastra_comentario') }}">
                                                    <div class="form-group required">
                                                        <input class="float-right post_comentario_comentario"
                                                               id="post_comentario_comentario"
                                                               placeholder="Escreva um comentário"
                                                               type="text"
                                                               required="required"
                                                               name="comentario">
                                                        <button type="submit" class="btn btn-success btn-sm mt-2">
                                                            Enviar
                                                        </button>
                                                        <input type="hidden"
                                                               id="postId"
                                                               name="postId"
                                                               value="{{ postagem.id }}">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FIM Modal de Comentários -->
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="card">
                    <div class="card-body">
                        <div class="col-sm-12 mt-2">
                            <div class="alert alert-primary" role="alert">
                                Nenhum post encontrado.
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- Fim Post -->
        </div>
        <div class="col-md-4 d-xl-block d-none">
            <!-- Início Eventos -->
            <div class="card card-primary">
                <div class="card-header">
                    <i class="fa fa-calendar-alt"></i>
                    Próximos Eventos
                </div>
                {% for evento in eventos %}
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="media">
                                <div class="float-left mr-2">
                                    <div class="card card-primary text-center date">
                                        <div class="card-header mes">
                                        <span class="panel-title strong">
                                            {{ evento.dataEvento|date('M') }}
                                        </span>
                                        </div>
                                        <div class="card-body dia text-primary">
                                            {{ evento.dataEvento|date('d') }}
                                        </div>
                                    </div>
                                </div>
                                <div class="text-muted">
                                    <h5>
                                        <a href="{{ path('evento_show', {'id': evento.id}) }}" class="card-link">
                                            {{ evento.titulo }}
                                        </a>
                                    </h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <div class="alert alert-primary my-2 mx-2" role="alert">
                        Nenhum evento encontrado
                    </div>
                {% endfor %}
                <a href="{{ path('evento_index') }}" class="btn btn-primary mx-3 my-3">Mais eventos »</a>
            </div>
            <!-- Fim Eventos -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('emoji/js/emojionearea.js') }}"></script>
    <script>
        $('.custom-file-input').on('change', function () {
            var fileName = this.files[0].name;

            $(this).next('.custom-file-label').html(fileName);
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".post_comentario_comentario").emojioneArea({
                recentEmojis : false,
                inline : true,
                tones: false,
                search: false,
                pickerPosition: "top",
                filtersPosition: "bottom",
                tonesStyle: "checkbox"
            });
            $(".post_comentario").emojioneArea({
                recentEmojis : false,
                inline : false,
                tones: false,
                search: false,
                pickerPosition: "bottom",
                filtersPosition: "top",
                tonesStyle: "checkbox"
            });
            $(".post_postagem").emojioneArea({
                recentEmojis : false,
                inline : false,
                tones: false,
                search: false,
                pickerPosition: "bottom",
                filtersPosition: "bottom",
                tonesStyle: "checkbox"
            });
        });
    </script>
{% endblock %}