{% extends 'baseLogin.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}
    <div class="row justify-content-center mt-5">
        <aside class="col-sm-6">
            <div class="card">
                <article class="card-body">
                    <a href="{{ path('app_login') }}" class="float-right btn btn-outline-primary">Já sou cadastrado</a>
                    <h4 class="card-title mb-4 mt-1">Registro</h4>
                    {{ form_start(form, {"attr": {"novalidate": "novalidate"}}) }}
                    <div class="form-row">
                        <div class="col form-group">
                            {{ form_label(form.dadosPessoais.nome) }}
                            {{ form_widget(form.dadosPessoais.nome) }}
                        </div>
                        <div class="col form-group">
                            {{ form_label(form.dadosPessoais.sobrenome) }}
                            {{ form_widget(form.dadosPessoais.sobrenome) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            {{ form_label(form.dadosPessoais.sexo) }}
                            {{ form_widget(form.dadosPessoais.sexo) }}
                        </div>
                        <div class="col form-group">
                            {{ form_label(form.dadosPessoais.dataNascimento) }}
                            {{ form_widget(form.dadosPessoais.dataNascimento) }}
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="col form-group">
                            {{ form_label(form.localizacao.pais) }}
                            {{ form_widget(form.localizacao.pais) }}
                        </div>
                        <div class="col form-group">
                            {{ form_label(form.localizacao.estado) }}
                            {{ form_widget(form.localizacao.estado) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            {{ form_label(form.localizacao.cidade) }}
                            {{ form_widget(form.localizacao.cidade) }}
                        </div>
                        <div class="col form-group">
                            {{ form_label(form.localizacao.bairro) }}
                            {{ form_widget(form.localizacao.bairro) }}
                        </div>
                    </div>
                    <hr>
                    <div class="form-row">
                        <div class="col form-group">
                            {{ form_label(form.senhaPura.first) }}
                            {{ form_widget(form.senhaPura.first) }}
                        </div>
                        <div class="col form-group">
                            {{ form_label(form.senhaPura.second) }}
                            {{ form_widget(form.senhaPura.second) }}
                        </div>
                    </div>
                    <button class="btn btn-primary btn-sm">{{ button_label|default('Criar Conta') }}</button>
                    {{ form_end(form) }}
                </article>
            </div>
        </aside>
    </div>
{% endblock %}